:root{
    --bg-color: #22232396;
    --font-family: "poppins",serif;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background: var(--bg-color);
    font-family: var(--font-family);
}
#bulb {
    width: 300px;
    height: 320px;
    margin: 0px 0 50px;
    transform: rotate(180deg);
    display: block;
}
.light{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.Allbtn {
    text-align: center;
    height: 0;
    display: inline-block;
}
.btn{
    padding: 10px 20px;
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
    margin: 0 5px;
  
}
#bulbOnOff .container .row{
    position: relative;
}
#bulbOnOff{
    margin-bottom: 200px;
}
.light-content{
    /* width: 500px; */
    position: absolute;
    right: 480px;
    top: 150px;
    visibility: hidden;
}
.light-content h2{
    font-size: 52px;
font-weight: 800;
}
.light-content .lead{
    font-size: 18px;
    font-weight: 400;
    line-height: 200%;
    text-align: justify;
    margin: 20px 0;
}
/* BULB SCREEN SECTION END */

/* FAN SECTION HERE */
#fanOnOff{
    display: flex;
    background-color: #fff;
    height: 600px;
}
#fanImg{
    width: 100%;
}
.fanctn h2{
font-size: 52px;
font-weight: 800;
}
.fanctn h2 span{
    color: #fff71bce;
}
.fanctn .lead{
    font-size: 18px;
    font-weight: 400;
    line-height: 200%;
    text-align: justify;
    margin: 20px 0;
}
.fanAllbtn{
    display: inline-block;
    height: 0;
}
#fanOn{
    padding: 10px 40px;
    background-color: #fff71bce;
    margin: 0;
}
#fanOff{
    padding: 10px 40px;
}
/* FAN SECTION END */

/* TV SECTION */
#tvOnOff{
    display: flex;

}
#tvOnOff .container .row{
    justify-content: space-between;
}
#tvImg{
    width: 100%;
}
.tvctn h2{
    font-size: 52px;
    font-weight: 800;
    }
    .tvctn h2 span{
        color: #fff71bce;
    }

    .tvctn .lead{
        font-size: 18px;
        font-weight: 400;
        line-height: 200%;
        text-align: justify;
        margin: 20px 0;
    }
    .tvAllbtn{
        display: inline-block;
        height: 0;
    }
    #tvOn{
        padding: 10px 40px;
        margin: 0 10px 0;
    }
    #tvOff{
        padding: 10px 40px;
        margin: 0;
    }
    
 
/* TV SECTION END */
